{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "brace-style": [2, "1tbs"],
    "camelcase": 0,
    "no-bitwise": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-tabs": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "strict": 0,
    "semi": ["error", "never"], // require or disallow use of semicolons instead of ASI,
    "arrow-parens": ["error", "as-needed"], // require the use of parenthesis when needed
    "prefer-destructuring": ["error", { "array": true, "object": true }, { "enforceForRenamedProperties": true }],
    "eqeqeq": ["error", "smart"],
    "prefer-template": "error",
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "no-plusplus": 0,
    "max-len": 0,
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/img-redundant-alt": 0
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
